[Desktop Entry]
Name=Linux NitroSense
StartupWMClass=Linux NitroSense
Version=1.0
Type=Application
Terminal=false
Exec=sudo -AE /opt/nitrosense
Comment=Application to control fan speed for Acer Nitro 5
Icon=nitrosense.ico
